html {
    color: pink;
    text-align: center;
    font-family: 'Emilys Candy', cursive;
    font-size: 20px;
    margin: 100px;
}

body {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 5px solid lightpink;
}

img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

button {
    background-color: lightpink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}